page-login {
    
      // .scroll-content{
      //   margin-bottom: 44px;
      //   margin-top: 60px;
      //   padding: 0  !important;
      // }
     
      .scroll-content{
        
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);        
    }
    }
.logo{
 margin: 0 auto;
 display: block;
}
