<form action="submit">
<ion-card no-padding no-margin >
    <img [src]="imgurl">
  <ion-card-content no-padding text-center style="width:100%;">
    
  <!-- <div class="profile-image">
    <img [src]="imgurl">
  </div> -->
  <div>
    <button ion-button round outline (click)="chooseimage()">Choose an image</button>
    <button [hidden]="!moveon" ion-button round outline (click)="removePhoto()">Remove Photo</button>
  </div>
</ion-card-content>
</ion-card>


  <ion-card no-margin>
  <ion-card-content padding>
    <ion-item >
      <ion-label floating>FirstName</ion-label>
      <ion-input  [(ngModel)]="userProfile.firstName" name="firstName" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>LastName</ion-label>
      <ion-input [(ngModel)]="userProfile.lastName" name="lastName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="userProfile.userName" name="userName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Status</ion-label>
      <ion-input [(ngModel)]="userProfile.status" name="status" type="text"></ion-input>
    </ion-item>    
    <button margin-top ion-button block color="secondary" (click)="submit()">Save</button>
  </ion-card-content>
</ion-card>
</form>
