<ion-header>
  <ion-navbar>
    <ion-title>crocO Chat</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAlertBox()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="mainPage">
<div (swipe)="swipe($event)" class='mainContent'>
  <!-- <ion-list>
    <ion-item *ngFor="let channel of group | async ">
      <ion-avatar item-start >
        <img src="assets/imgs/1.png" alt="avatar" (click)="showPhoto($event)">
      </ion-avatar>
      <div (click)="selectChannel(channel)">
        <h2>{{ channel.Name }}</h2>
        <p>This town ain't big enough for the two of us!</p>
      </div>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <ion-item *ngFor="let channel of group | async ">
      <ion-avatar item-start >
        <img src="assets/imgs/1.png" alt="avatar" > <!--  (click)="showPhoto($event)" -->
      </ion-avatar>
      <div (click)="selectedGroup(channel)">
        <h2>{{ channel.groupName }}</h2>
      </div>
    </ion-item>
  </ion-list>
 </div>
</ion-content>
