page-chat {
    ion-navbar{
        max-height:6rem;
    }
    .item__avatar{
        background-color: transparent;
        
        &-img{
            margin:0;
        }
    }

    ion-header {
        .toolbar {
          position: absolute;
            
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: black;
          }
          .bar-button-default-md{
              color: black;
          }
        }
      }
      .scroll-content{
        margin-bottom: 44px;
        margin-top: 60px;
      }
      
}
.list-ios > .item-block:first-child {
    border-top:0;
    border-bottom: 0;
}
