<form  action="submit">
<ion-card padding-horizontal>
  <ion-card-header no-padding text-center margin-top><h1>Register</h1></ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating color="primary"> <ion-icon name="mail" item-left primary></ion-icon>Email</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating color="primary"> <ion-icon name="lock" item-left primary></ion-icon>Password</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password" required></ion-input>
        </ion-item>
        <button (click)="submit()" ion-button margin-top block>Register</button>
      </ion-card-content>
    </ion-card>
  </form>
