page-group-profile {
    img{
        height:350px;
        width: 100%;
    }

    .profile_img{
      position: relative;
      //text-align: center;
      //border-bottom: 3px solid red;
      &_name{
          position: absolute;
          top: 85%;
          left: 10%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
      }
    }
    .exit{
        text-align: center;
        &_msg{
            color: red;

        }
    }
}
