page-profiles {
    ion-header {
        .toolbar {
          position: absolute;
            
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: black;
          }
          .bar-button-default-md{
              color: #fff;
          }
        }
      }
      img{
          height:350px;
          width: 100%; 
      }

      .profile_img{
        position: relative;
        //text-align: center;
        
        &_name{
            position: absolute;
            top: 85%;
            left: 10%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
      }
      ion-label{
       color: rgb(102, 102, 102);
      }
      .ion_btn{
          font-size: 1.5rem !important;
      }
}
