page-channel-chat {
}
.messages__li {
        
    clear: both;
    display: block;
    max-width: 60%;
    border-radius: 8px;
    padding: 8px;
    margin-top: .7rem;
}
.messages__left{
    background-color: #eee;
    float: left;
}
.messages__right{
    background-color: #488aff;
    float: right;
}

