page-ibox {
    #android-frame .statusbar{
        background-color: #2980B9;
    }
    .scroll-content{
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }
}
// ion-searchbar{
//     display: none;
// }
// .show-search{
//     display: block;
// }
.item-md {
    padding-left:0;
}
.item-ios{
    padding-left: 0;
}   
